<header class="context-menu-header">Add Node</header>
<ul class="context-menu">
    <li class="context-menu-item context-menu-item--entry" (click)="createNodeType(ENodeType.Entry)">Entry Room
    </li>
    <li class="context-menu-item context-menu-item--room" (click)="createNodeType(ENodeType.Room)">Default Room
    </li>
    <li class="context-menu-item context-menu-item--hallway" (click)="createNodeType(ENodeType.Hallway)">Hallway
    </li>
    <li class="context-menu-item context-menu-item--elite" (click)="createNodeType(ENodeType.Elite)">Elite Room
    </li>
    <li class="context-menu-item context-menu-item--teleport" (click)="createNodeType(ENodeType.Teleport)">Teleport Room
    </li>
    <li class="context-menu-item context-menu-item--boss" (click)="createNodeType(ENodeType.Boss)">Boss Room
    </li>
</ul>