<header class="header">
    <span class="title">Properties</span>
</header>
<div class="properties">
    <div *ngIf="selectedNode">
        <fieldset class="properties-section">
            <h2 class="title">Config</h2>
            <div *ngFor="let property of selectedNode.Properties">
                <app-boolean *ngIf="property.type === EPropertiesType.Boolean" [property]="property"
                    (update)="handleChange($event)"></app-boolean>
                <app-button *ngIf="property.type === EPropertiesType.Button" [property]="property"
                    (update)="handleChange($event)"></app-button>
                <app-number *ngIf="property.type === EPropertiesType.Number" [property]="property"
                    (update)="handleChange($event)"></app-number>
                <app-range *ngIf="property.type === EPropertiesType.Range" [property]="property"
                    (update)="handleChange($event)"></app-range>
                <app-string *ngIf="property.type === EPropertiesType.String" [property]="property"
                    (update)="handleChange($event)"></app-string>
                <app-text *ngIf="property.type === EPropertiesType.Text" [property]="property"
                    (update)="handleChange($event)"></app-text>
            </div>
        </fieldset>
    </div>
    <div class="properties-section"  [ngClass]="{'properties-section--hidden': !selectedNode}" >
        <h2 class="title">Preview</h2>
        <canvas id="room-preview" class="room-preview"></canvas>
    </div>
</div>